//============================
//    Name: Header
//============================

$$header = #0000;
$$header-text = #4a4a4a;

myheader {
	+__() {
		.section--background {
			background-color $$header
			
			position: absolute;
			z-index: 123;
			left: 50%;
			transform: translate(-50%, 0 );
			width: 100%;
		}
		.box {
			display: grid;
			grid-auto-flow: column;
			// max-width: 1400px;
			margin: auto;
			padding-left 1rem
			padding-right 1rem
			+media(768) {
				padding-left 1rem
				padding-right 1rem
			}
			+media(768) {
				grid-auto-columns: 1fr auto;
			}
		}
	
		.brand {
			filter: drop-shadow(1px 1px 1px #000);
			min-width: 120px;
		}
		.item {
			display: grid;
		}
		.address {
			display: grid;
			grid-auto-flow: column;		
			justify-content: center;
			align-items: center;
			+media(1199) {
				display none
			}
			&-item {
				font-setup(fmain, 13, 700);
				font-style italic
				color #fff;
				line-height 26px
				text-shadow: 1px 1px 1px #000;
			}
		}
		.contact {
			display: grid;
			grid-auto-flow: row;
			justify-content: center;
			align-items: center;
			gap: .44rem;
			+media(992) {
				display none
			}
			&-item {
				font-setup(fmain, 18, 700);
				color #fff;
				line-height 26px
				text-shadow: 1px 1px 1px #000;
			}
			&-item:(last-child) {
				color: #f00;
			}
		}
		.login {
			display: grid;
			grid-gap: 0.4rem;
			padding: 1rem;
			transition: .25s __cubic;
			cursor: pointer;
			position: relative;
			fill: #fff;
			&:before {
				content: '';
				display: grid;
				width: 3.5rem;
				height: 3.5rem;
				font-size: 1rem;
				line-height: 1;
				text-align: center;
				background-color: #dddddd80;
				position: absolute;
				left: -35%;
				top: 50%;
				transform: translate(50%, -50%) scale(0);
				border-radius: 100% 100% 100% 100%;
			}
			&:hover {
				fill: #007cad;
				&:before {
					transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
					transform: translate(50%, -50%) scale(1);
				}
			}
		}
		.login span {
			display: grid;
			width 2rem
			height 2rem
			cursor pointer
			position: relative;
			z-index 2
		}
	
	}
}

