//============================
//    Name: Main page
//============================

$$Blue = #007cad;

startpage {
	+__() {
		.section--background {
			background-color #ccc;
		}
		.box {
			display: grid;
			grid-auto-flow: row;		
			max-width 1400px
			margin auto
			justify-content: start;
			align-items: center;
			position relative
			z-index 1
			max-height: 89vh;
			padding 0 87px
			min-height: 55rem;
			+media(1366) {
				padding 0 1rem;
			}
			+media(575) {
				height: 1080px;
			}
		}
		.item {
			display: grid;
		}
		.video {
			margin 0 -1rem;
			position: absolute;
			width: 100%;
			height: auto;
			+media(575) {
				width: max-content;
			}
		}
		.video--cover {
			font-size: 0;
			width: 100%;
			height: 99.7%;
			position: absolute;
			top: 0;
			background-repeat: repeat;
			background-color: #0000;
		}
		.h1-preview {
			grid-auto-flow: row;
			grid-auto-columns: 1fr;
			grid-auto-rows: 1fr;
			gap: 1rem;
			+media(1199) {
				grid-auto-rows: auto;
			}
		}
		.h1 {
			grid-column: 1/8
			font-setup(fmain, 70, 700);
			color: #fff;
			text-shadow: 1px 1px 1px #000;
		}
		.h1--color {
			color: $$Blue;
		}
		
		.p {
			grid-column: 1/6
			font-setup(fmain, 22, 400);
			color: #fff;
			text-shadow: 1px 1px 1px #000;
		}
		.button {
			grid-column: 1/3;
			justify-content: start;
			align-items: center;
			grid-auto-flow: column;
			gap: 2rem;
			width: max-content;
		}
 		.playvideo {
 			width 64px
 			height 64px
 			fill: $$Blue;
 		}
 		.link {
 			font-setup(fmain, 16, 400);
 			color: #fff;
 		}
	}
}

.startpage__button {
	&:hover .startpage__link {
		transition: .25s __cubic;
		color: $$Blue;
	}	
}

card {
	+__() {
		.section--background {
			background-color #0000;
			
			overflow: unset;
			height: 0;
		}
		
		.box {
			display: grid;
			grid-auto-flow: column;
			max-width 1344px;
			padding 40px 60px
			background-color #fff;
			margin 0 auto;
			radius: 10px;
			box-shadow: 0 0 30px -10px #000;
			
			transform translate(0, -50%)
			
			position: relative;
			z-index: 1;

		}
		.list {
			display: grid;
			grid-auto-flow: column;		
			gap: 2rem;
			grid: auto \/ repeat(auto-fit, minmax(274px, 1fr));
		}
		.list-item {
			display: grid;
			grid-auto-flow: row;
			justify-content: start;
			align-items: center;		
		}
		.list-icon {
			width 60px
			height 60px
			fill: $$Blue;
		}
		.list-h4 {
			font-setup(fmain, 22, 700);
			color: #000;
			line-height 32px
		}
		.list-p {
			font-setup(fmain, 14, 400);
			color: #000;
			line-height 20px
		}
	}
}