<section class="login__section login__section--background">
	<div style="background-image: url(./media/img/login-background.jpg);" class="login__picture-background">&nbsp;</div>
	<div class="login__picture-filter">&nbsp;</div>
	<div class="login login__box">
		
		<div class="login__brand">
			<img src="./media/img/logo-company.png" alt="Picture" title="Picture">
		</div>
		
		<form id="myform" class="myform__box myform__section--background" action="./dashboard-main.html" method="POST" enctype="ultipart/form-data" autocomplete="off" onsubmit="return true;">
		
			
			 <div class="myform__group">
			 	<h4 class="myform__h4">Вход в систему</h4>
			 	<p class="myform__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, eaque, debitis.</p>
			 </div>
			 <div class="myform__group ">
			 	<div class="myform__item">
			 		<label class="myform__label" for="myform-email">&nbsp;</label>
			 		<input class="myform__input" id="myform-email" type="email" name="email" placeholder="Email адрес" required="" value="admin@admin">
			 	</div>
			 	<div class="myform__item myform__item--secret">
			 		<label class="myform__label" for="password">&nbsp;</label>
			 		<input class="myform__input" id="myform-password" type="password" name="password" placeholder="Пароль" required="" value="admin@admin">
			 		<span class="myform__secret js__showsecret">
			 			<svg role="picture-svg" class="glyphs__secret"><use xlink:href="#id-glyphs-secret"></use></svg>
			 		</span>
			 	</div>
		
			 </div>
			 <div class="myform__group myform__group--column">
			 	<button class="myform__button" form="myform" type="submit">Вход</button>
			 	<a class="myform__href myform__href--line" title="URL" role="link" href="#">Забыли пароль?</a>
			 </div>
			 <div class="myform__group">
			 	<a class="myform__href myform__registration" title="URL" role="link" href="#">Регистрация нового аккаунта</a>
			 </div>
		</form>
	</div>
</section>


<div class="__device__">&nbsp;</div>
