
__scrollupPosY = 75

scrollup {
	+__() {
		.box {
			$$color = #f44336
			display: grid;
			grid-auto-flow: column;
			align-items: center;
			border 1px solid #0000
			bottom: 0;
			cursor pointer
			fill: $$color;
			justify-content: center;
			padding .5rem
			position: fixed;
			radius: 7px;
			right: 3%;
			z-index 123
			
			transition .25s __cubic
			transform translateY(100%);
			
			&:hover {
				background-color $$color;
				border 1px solid $$color
				box-shadow __shadow
				fill: #fff;
			}		
		}
		.d-scrollup {
			width 2rem
			height 2rem
		}
	}
} 

.scrollup__box.show {
	transform translateY( -(__scrollupPosY)% )
	&:active {
		transform translateY( -(__scrollupPosY)% ) scale(.9)
	}
}
