//============================
//    Name: LOGIN
//============================

$$Blue = #007cad;
__pageMaxWidth = 480px;

login {
	+__() {
		.section--background {
			background-color #f2f2f2;
			height 100vh
			min-height 700px
		}
		.box {
			display: grid;
			grid-auto-flow: row;
			max-width: 24rem;
			margin-left: auto;
			margin-right: auto;
			justify-content: stretch;
			align-items: baseline;
			background-color: #0000;
			position relative
			z-index 2
			height 100vh
			
			gap: 3rem;
			
			grid-auto-rows: 16vh 1fr;
		}
		.picture-background {
			position absolute
			width 100%
			height 100%
			z-index 1
			// filter: blur(4px);
			opacity 1
			margin 0 -1rem
			font-size 0
			
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.picture-filter {
			background-color rgba(#000, 0.65);
			position absolute
			width 100%
			height 100%
			z-index 1
			// filter: blur(4px);
			opacity 1
			margin 0 -1rem
			font-size 0
		}
		.brand {
			display: grid;
			justify-content: start;
			align-self: end;
			// padding 1.5rem
		}
	}
}

myform {
	+__() {
		.section--background {
			background-color #fff;
		}
		.box {
			display: grid;
			grid-auto-flow: row;
			radius: 10px;
			box-shadow: __shadow;
			padding 1.5rem
			
			gap: 3rem;
		}

		.h4 {
			font-setup(fmain, 28, 700);
			color: #333;
		}
		.p {
			font-setup(fmain, 16, 400);
			color: #666;
		}
		.item {
			display: grid;
			justify-content: stretch;
			align-items: center;
			grid-auto-flow: row;
		}
		.item--secret {
			position relative
		}
		.secret {
			display: grid;
			justify-content: center;
			align-items: center;
			position absolute
			right 1rem
			width 1.2rem
			height 1.2rem
			fill: #bbb;
			transition: .25s __cubic;
			&:hover {
				cursor pointer
				fill: #666;
			}
		}
		.group {
			display: grid;
			justify-content: stretch;
			align-items: center;
			grid-auto-flow: row;
			gap: 1rem;	
		}
		.group--column {
			grid-auto-flow: column;		
		}
		.label {
			font-size 0
		}
		.input {
			border 2px solid #0000;
			background-color #f7f7f7;
			radius: 6px;
			padding 9px 20px
			font-setup(fmain, 15, 700);
			color: $$Blue;
			
			transition: .25s __cubic;
			&:hover {
				background-color #eaeaea;
			}
			&::placeholder {
				font-setup(fmain, 15, 400);
			}
			&:focus {
				border 2px solid $$Blue;
			}
		}
		.button {
			border 0
			radius: 6px;
			background-color $$Blue;
			color: #fff;
			padding 9px 28px
			
			transition: .25s __cubic;
			&:hover {
				background-color darken($$Blue, 13%);
				box-shadow: __shadowHover;
			}
			&:active {
				transform translate(0,2px);
				box-shadow: __shadow;
			}
		}
		.href {
			display: grid;
			justify-content: center;
			align-items: center;
			color: #666;
		}
		.href--line {
			&:after {
				content: '';
				display: grid;
				transform: scaleX(0);
				transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
				border-bottom: 0.125rem solid $$Blue;
				transform-origin: 100% 50%;
				backface-visibility: hidden;
			}
			&:hover {
				&:after {
					transform: scaleX(1);
				}
			}
		}
		.registration {
			font-setup(fmain, 12, 400);
			text-transform uppercase
			padding 1rem
			transition: .25s __cubic;
			&:hover {
				color: $$Blue;
			}
		}
	}
}