<div role="navigation" class="myheader__section myheader__section--background">
	<nav class="myheader__box">

		<div class="myheader__group myheader__navigat">
			<a class="myheader__brand" title="URL" role="link" href="#">
				<img src="./media/img/logo-company.png" alt="Picture" title="Picture">
			</a>
			<div class="myheader__list">
				<a class="myheader__list-item" title="URL" role="link" href="#">Поставка</a>
				<a class="myheader__list-item" title="URL" role="link" href="#">Производство</a>
				<a class="myheader__list-item" title="URL" role="link" href="#">Услуги</a>
				<a class="myheader__list-item" title="URL" role="link" href="#">Проекты</a>
				<a class="myheader__list-item" title="URL" role="link" href="#">Контакты</a>
			</div>
			<div class="myheader__address">
				<a class="myheader__address-item" title="URL" role="link" href="//yandex.ru/maps/213/moscow/?text=Мироновская улица, 25">Москва, Мироновская 25</a>
			</div>
			<div class="myheader__contact">
				<a class="myheader__contact-item" title="tel" role="link" href="tel:+78003334726">+7 (800) 333-47-26</a>
				<a class="myheader__contact-item" title="email" role="link" href="mailto:info@energoprof-group.ru">info@energoprof-group.ru</a>
			</div>
			<a class="myheader__login" title="URL" role="link" href="./login.html">
				<span><svg role="picture-svg" class="glyphs__login"><use xlink:href="#id-glyphs-login"></use></svg></span>
			</a>
		</div>
		<div class="myheader__group myheader__burger ">
			<div class="myheader__menu js__navHamburger">
				<span class="myheader__menu-line">&nbsp;</span>
				<span class="myheader__menu-line">&nbsp;</span>
				<span class="myheader__menu-line">&nbsp;</span>
			</div>
		</div>

	</nav>
	<div class="myheader__group myheader__navigat myheader__navigat--clone js__navHamburgerOpener">
		<div class="myheader__list">
			<a class="myheader__list-item" title="URL" role="link" href="#">Поставка</a>
			<a class="myheader__list-item" title="URL" role="link" href="#">Производство</a>
			<a class="myheader__list-item" title="URL" role="link" href="#">Услуги</a>
			<a class="myheader__list-item" title="URL" role="link" href="#">Проекты</a>
			<a class="myheader__list-item" title="URL" role="link" href="#">Контакты</a>
	<!-- 		<hr>
			<a class="myheader__address-item" title="URL" role="link" href="//yandex.ru/maps/213/moscow/?text=Мироновская улица, 25">Москва, Мироновская 25</a>
			<a class="myheader__contact-item" title="tel" role="link" href="tel:+78003334726">+7 (800) 333-47-26</a>
			<a class="myheader__contact-item" title="email" role="link" href="mailto:info@energoprof-group.ru">info@energoprof-group.ru</a> -->
		</div>
	</div>
</div>
