<section class="startpage__section startpage__section--background">
	<div class="startpage__video js__syncVideoBox">
		<video width="100%" autoplay="" loop="" muted="">
			<source src="./media/video/example.mp4" type="video/mp4">
		</video>
		<div class="startpage__video--cover" style="background-image: url(./media/img/background-grid-filter.png); background-size: auto;">&nbsp;</div>
	</div>
	<div class="startpage__box js__syncVideo">
		<div class="startpage__item startpage__h1-preview">
			<h1 class="startpage__h1">«Группа Компаний <span class="startpage__h1--color">ЭнергоПроф</span>»</h1>
			<p class="startpage__p">один из крупнейших в России поставщиков энергетического и компрессорного оборудования. Производитель модульных промышленных станций и электрощитового оборудования, обеспечивающий полный спектр инженерно-технических услуг.</p>
			<a class="startpage__item startpage__button" title="URL" role="link" href="https://www.youtube.com/watch?v=IoGC7PVbuEY" target="_blank">
				<span class="startpage__playvideo"><svg role="picture-svg" class="glyphs__play-video"><use xlink:href="#id-glyphs-play-video"></use></svg></span>
				<p class="startpage__link">Видео о компании</p>
			</a>
		</div>
	
	</div>
</section>
<section class="card__section card__section--background">
	<div class="card card__box">
		<div class="card__list">
			
			

			<div class="card__list-item">
				<span class="card__list-icon">
					<svg role="picture-svg" class="glyphs__garden"><use xlink:href="#id-glyphs-garden"></use></svg>
				</span>
				<h4 class="card__list-h4">12 лет на рынке энергообеспечения</h4>
				<p class="card__list-p">Более 100 сотрудников в штате. Средний опыт сотрудников в отрасли более 5 лет.</p>
			</div>



			<div class="card__list-item">
				<span class="card__list-icon">
					<svg role="picture-svg" class="glyphs__podium"><use xlink:href="#id-glyphs-podium"></use></svg>
				</span>
				<h4 class="card__list-h4">Более 20 000 успешно реализованных проектов</h4>
				<p class="card__list-p">В каждом из 85 субъектов РФ, а также в ближнем зарубежье.</p>
			</div>



			<div class="card__list-item">
				<span class="card__list-icon">
					<svg role="picture-svg" class="glyphs__diploma"><use xlink:href="#id-glyphs-diploma"></use></svg>
				</span>
				<h4 class="card__list-h4">Сертифицированное производство</h4>
				<p class="card__list-p">Более 100 сотрудников в штате. Средний опыт сотрудников в отрасли более 5 лет.</p>
			</div>



			<div class="card__list-item">
				<span class="card__list-icon">
					<svg role="picture-svg" class="glyphs__worker"><use xlink:href="#id-glyphs-worker"></use></svg>
				</span>
				<h4 class="card__list-h4">12 лет на рынке энергообеспечения</h4>
				<p class="card__list-p">Более 100 сотрудников в штате. Средний опыт сотрудников в отрасли более 5 лет.</p>
			</div>
			
		</div>
	</div>
</section>
<div class="space-1"></div>
<div class="space-2"></div>
<div class="space-3"></div>


<div class="__device__">&nbsp;</div>
